{{ $currentPath := .UrlPath.Url }}
{{ $baseUrl := .Site.BaseUrl }}

<header id="main-header">
  <a href="{{ $baseUrl }}">
    <img src="{{ $baseUrl }}/images/profile.jpg" class="animated profile-image" alt="Go home">
  </a>

  <nav class="horizontal-nav">
    <ul class="horizontal-nav-list">
	
      <li class='{{ if eq .Section "post"}} active {{ end }}'>
        <a href="{{ $baseUrl }}">latest</a>
      </li>
	  
		<li class='{{ if eq $currentPath "/post/" }} active {{ end }}'>
          <a href="{{ $baseUrl }}/post">list</a>
        </li>
		
        <li class='{{ if eq .Title "about" }} active {{ end }}'>
          <a href="{{ $baseUrl }}/about">about</a>
        </li>

    </ul>
  </nav>
</header>
