{{ template "theme/partials/head.html" . }}
<body id="list">
  {{ template "theme/partials/header.html" . }}
  <div id="content-container">
    <div class="posts">
      <!-- Iterate over the pages -->
      {{ range first 10 .Data.Pages }}
        <div class="post-preview">

          <div class="post-content">
            <h2 class="post-title">
              <a href="{{ .Site.BaseUrl }}{{ .RelPermalink }}">{{ .Title }}</a>
            </h1>

            <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
          </div>
        </div>
      {{ end }}

    </div>
  </div>

  {{ template "theme/partials/footer.html" . }}
</body>
</html>
