{{ template "theme/partials/head.html" . }}
<body id="single">
  {{ template "theme/partials/header.html" . }}

  <div id="content-container">
    <div class="post">
      <h1 class="post-title">{{ .Title }}</h1>
      <span class="post-date"><p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p></span>
      <span class="post-content">{{ .Content }}</span>
    </div>
    <hr></hr>
	{{ template "theme/partials/post-footer.html" . }}
    {{ template "theme/partials/disqus.html" . }}
  </div>
</body>
</html>
