{{ template "theme/partials/head.html" . }}
<body id="single">
  {{ template "theme/partials/header.html" . }}

  <div id="content-container">
    <div class="post">
      <h1 class="post-title">{{ .Title }}</h1>
      <span class="post-date"><p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p></span>
      <span class="post-content">
        {{ .Content }}
        {{with .Next}}
        <a class="post-previous" href="{{.Permalink}}">&laquo; Previous</a>
        {{end}}
        {{with .Prev}}
        <a class="post-next" href="{{.Permalink}}">Next &raquo;</a>
        {{end}}
        <br>
      </span>

    </div>
    <hr>
	{{ template "theme/partials/post-footer.html" . }}
    {{ template "theme/partials/disqus.html" . }}
  </div>
  {{ template "theme/partials/footer.html" . }}
</body>
</html>
