// -------------------------------------------
//   Layouts
// -------------------------------------------

/* Wrapper for the content */
#content-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 120px 20px 20px 0;
}

/* Header with navigation */
#main-header {
  position: relative;
  height: $header-height;
  background: rgba(0, 174, 255, 1);

  .profile-image {
    margin: 15px 0 0 15px;
  }

  .horizontal-nav {
    position: absolute;
    right: 50px;
    top: 15px;
  }
}

#single {

  .post-title {
    font-size: 2.3em;
  }

  .post-symbol {
    height: 300px;

    .symbol {
      margin-top: 60px;
    }

    .description {
      margin-top: 30px;
    }
  }

  .post-content {
    font-size: 1.2em;
  }

  .post-date {
    font-family: $indie-flower;
    font-size: 1.3em;
    line-height: 0.8em;
    color: #555;
  }

  .post-footer {
    color: gray;
  }

  .post-next {
    float: right;
  }

  .post-previous {
    float: left;
  }

}

#list {
  .post-symbol {
    line-height: 200px;
  }
}
